*, *::before, *::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

*, *::before, ::after {
  border-color: rgba(255, 255, 255, 0.16);
  word-wrap: break-word;
}

*, *::before, *::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

*, *::before, ::after {
  border-color: rgba(255, 255, 255, 0.16);
  word-wrap: break-word;
}
[hidden] {
  display: none!important;
}

body {
  position: relative;
  min-height: 100%;
  font-feature-settings: 'kern';
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: rgba(255, 255, 255, 0.92);;
  background: #1A202C;
  transition-property: background-color;
  transition-duration: 200ms;
  line-height: 1.5;
}
a {
  background-color: transparent;
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}
img {
  border-style: none;
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}
img, video {
  max-width: 100%;
  height: auto;
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}
img, video {
  max-width: 100%;
  height: auto;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button {
  background: transparent;
  padding: 0;
}
button, [role="button"] {
  cursor: pointer;
}
button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button {
  background: transparent;
  padding: 0;
}
button, [role="button"] {
  cursor: pointer;
}
button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
hr {
  border-top-width: 1px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
body, blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

.css-1r88i0x {
  background: #171923;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
