.css-m7wkyr {
    background: #171923;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
}

.css-1kj7ifn {
    max-width: 80rem;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
}

.css-1j66gwz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    top: 1rem;
    right: 1rem;
    height: 4rem;
}

.css-1i0wgq1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 0.25rem;
}

.css-n4g6ml {
    display: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 0px;
}
.css-1u6kme8 {
    display: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.css-1buqvcx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-oft45e {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-shrink: 3;
    -ms-flex-negative: 3;
    flex-shrink: 3;
}
.gatsby-image-wrapper img {
    height: 100%;
    margin: 0;
    max-width: 80px;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}
.gatsby-image-wrapper img.logo {
    transition: opacity 500ms linear 0s;
    object-fit: cover;
    display: block;
}
.css-r7163r {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: #EDF2F7;
    background: #171923;
    -webkit-padding-start: 0.75rem;
    padding-inline-start: 0.75rem;
    -webkit-padding-end: 0.75rem;
    padding-inline-end: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.6;
    position: relative;
}
.css-jgswqc {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: 0.375rem;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    height: 2.5rem;
    min-width: 15px;
    font-size: 1rem;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    background: #99FFBB;
    color: #171923;
}
.css-jgswqc:focus, .css-jgswqc[data-focus] {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}
.css-jgswqc:hover, .css-jgswqc[data-hover] {
    background: #00dba1;
}
.css-jgswqc:active, .css-jgswqc[data-active] {
    background: rgba(255, 255, 255, 0.24);
}
.css-1wh2kri {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-margin-end: 0.5rem;
    margin-inline-end: 0.5rem;
}
.css-xl71ch {
    pointer-events: none;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
}
.css-1hzyiq5 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 0.5rem;
}
.css-r6z5ec {
    z-index: 1;
}
.css-1u6kme8>*:not(style)~*:not(style) {
    margin-top: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 0.5rem;
}
.css-fbxenh {
    outline: 2px solid transparent;
    outline-offset: 2px;
    background: #2D3748;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
    color: inherit;
    min-width: 30px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 1;
    border-radius: 0.375rem;
    border-width: 1px;
}
@media screen and (min-width: 30em) {
    .css-1kj7ifn {
        -webkit-padding-start: 1.5rem;
        padding-inline-start: 1.5rem;
        -webkit-padding-end: 1.5rem;
        padding-inline-end: 1.5rem;
    }
}

@media screen and (min-width: 62em) {
    .css-1kj7ifn {
        -webkit-padding-start: 2rem;
        padding-inline-start: 2rem;
        -webkit-padding-end: 2rem;
        padding-inline-end: 2rem;
    }
    .css-n4g6ml {
        padding-right: 4rem;
    }
    .css-fbxenh {
        min-width: 14rem;
    }
}
@media screen and (min-width: 48em) {
    .css-1i0wgq1 {
        padding-right: 0.25rem;
    }
    .css-n4g6ml {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .css-1u6kme8 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .css-1buqvcx {
        display: none;
    }
}